body {
  max-width: 1024px;
  margin: 0 auto;
  background: url("../images/glitch.jpg");
}

main {
  max-width: 740px;
  margin: 48px auto;
  background: url("../images/exclusive_paper.jpg");
  border-radius: 24px;
  box-shadow: 0 0 16px rgb(31, 31, 31);
}

.block {
  padding: 48px;
  font-family: "Signika Negative", sans-serif;
}

.heading {
  font-weight: 400;
  font-family: "Rubik Mono One", sans-serif;
}

h1.heading {
  text-shadow: 4px 4px 1px rgba(68, 68, 68, 0.247);
}

.candidate {
  text-align: center;
}

.candidate .avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgb(31, 31, 31);
}
